@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #4c5078;
    border-radius: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #edf2fb;
  }
}
