services:
  frontend:
    ports:
      - "4000:4000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    command: npm run dev

  backend:
    ports:
      - "4500:4500"
    volumes:
      - ./backend:/app
    environment:
      NODE_ENV: development
    command: npm run dev
